$primary-black: hsla(180, 3%, 7%, 1);
$primary-green: hsla(165, 99%, 39%, 1);
$white: hsla(0, 0%, 100%, 1);

.service-container{
    color: $white;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 150px 0 150px;
    gap: 350px;

    .section-container{
       min-width: 350px;
       text-align: center;
       min-height: 500px;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
    }
    .left-right-icon {
        padding: 10px;
        background-color: $white;
        border-radius: 50%;
    }
    .text-down{
        .text-wrap{
            display: flex;
        }
    }
}