$primary-black: hsla(180, 3%, 7%, 1);
$primary-green: hsla(165, 99%, 39%, 1);
$white: hsla(0, 0%, 100%, 1);

.container {
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}


nav {
    background: $primary-black;
    margin-left: 120px;
    margin-right: 120px;

    .nav-elements {
        display: flex;
        justify-content: space-between;
    }

    .nav-link-container {
        #StocklabLogo {
            height: 43.4px;
            margin-right: 250px;
            font-size: 14px;
            font-weight: 400;
            line-height: 19.12px;
        }
    }

    ul {
        display: flex;

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 140px;
        }

        a {
            text-decoration: none;
            color: $white;
            font-size: 14px;
            font-weight: 400;
            cursor: pointer;
        }

        #DownVector {
            margin-left: 5px;
            height: 8px;
        }
    }

    div {
        display: flex;

        .social-links {
            align-items: center;

            .social-logo {
                height: 16px;
                margin-top: 10px;
                margin-right: 10px;
            }
        }

        #LoginButton {
            border: 2px solid $primary-green;
            height: 45px;
            color: white;
            width: 139px;
            border-radius: 12px;
            background-color: transparent;
        }
    }
}




.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../assets/background-bull.png');
    background-repeat: no-repeat;
    background-position: 200px;
    margin-top: 50px;



    .hero-text {
        color: $white;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: transparent;

        img {
            height: 100px;
            background-color: transparent;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            width: 350px;
            line-height: 24.59px;
            background-color: transparent;
        }

        button {
            width: 235px;
            height: 48px;
            border-style: none;
            background-color: $primary-green;
            border-radius: 12px;
            color: $white;
            font-size: 17px;
            font-weight: 700;
            line-height: 23.94px;
            letter-spacing: 0.4px;
            cursor: pointer;
        }
    }

    #Huvitsaatai {
        width: 438px;
    }

    #HeroPerson {
        width: 644px;
    }

}

.card-frame {
    display: flex;
    margin-top: 55px;
    margin-bottom: 20px;
    overflow: hidden;

    .marquee-container {
        animation: marquee 8s linear infinite;


    }

    @keyframes marquee {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-250%);
        }
    }

    #NoBackground {
        background-color: $primary-black;
    }

    .market-card {
        display: flex;
        color: $white;
        width: 280px;
        height: 90px;
        background-color: #1A1F1F;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        margin-left: 20px;
        margin-right: 20px;



        .card-info {
            display: flex;
            background-color: transparent;
            align-items: center;

            #StockLogo {
                width: 38.75px;
                height: 40px;
                background-color: transparent;
                margin-right: 12px;
            }

            .card-height {
                background-color: transparent;

                div {
                    background-color: transparent;
                    margin: 5px;

                    .stock-text {
                        font-size: 12px;
                        font-weight: 600;
                        font-family: 'Poppins', sans-serif;
                        background-color: transparent;
                        margin: 5px;
                    }

                    #StockUp {
                        height: 24px;
                        background-color: $primary-green;
                        border-radius: 24px;
                        padding: 3px 1x 3px 1px;
                    }
                }

                #StockPrice {
                    font-family: 'Poppins', sans-serif;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 32px;
                    background-color: transparent;
                    margin: 5px;
                }
            }
        }

        div {
            background-color: transparent;

            #Chart {
                width: 102.4px;
                background-color: transparent;
                padding-left: 15px;
            }
        }
    }


}

@media (max-width: 1024px) {
    body {
        overflow: scroll;
    }

    .nav-right {
        display: none;
    }

    .hero-section {
        flex-direction: column-reverse;
    }

    #HeroPerson {
        width: 300px;
    }
}