$primary-black: hsla(180, 3%, 7%, 1);
$primary-green: hsla(165, 99%, 39%, 1);
$white: hsla(0, 0%, 100%, 1);

.instructions-container{


    .dans-neeh{
        background-color: $primary-green;
        height: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        background-image: url('../assets/line-ariljaand.png');


        #Text{
            font-size: 15px;
            max-width: 480px;
            font-weight: 200;
            line-height: 24px;

            span{
                font-weight: 700;
            }
        }
        button{
            color: $white;
            padding: 15px 25px;
            background-color: $primary-green;
            border-style: none;
            border: 1px solid $white;
            border-radius: 30px;
        }
    }


    .zaavar-container{
        display: flex;
        align-items: center;

        .info-container{
            background-color: $white;
            color: hsla(0, 0%, 47%, 1);
        }
    }
}